
body {
    text-align: center;
    background-color: black;
    color: goldenrod; 
    lighting-color: blueviolet;
    font-family: fantasy;
}

div {
    border-width: 2em;
    border-color:goldenrod;
    background:purple;
    color:goldenrod;
    padding: 1em;
    margin: 1em;
    max-width: 100%;
    display: inline-block;
    lighting-color: blueviolet;
    font-size: 20px;
    
}

img {
   max-width: 35%; 
}

[contenteditable]{
    outline: none;
}
